.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex: 1;
    padding: 1.5rem 2rem;
    flex-direction: column;
    align-items: center;
    justify-items: stretch;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    flex: 0;
    padding: 0.6rem 0;
    border-top: 1px solid #f0f3f4;
    background-color: #bbdb6a;
}

.header {
    flex: 0;
    background-image: url("../public/header-arc.svg");
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.headerDefault {
    flex: 0;
    background-image: url("../public/header-arc-dark.svg");
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.pickmeup {
    background-image: url("../public/pickmeup.svg");
    min-height: 70px;
    width: 226px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin: 20px 0 0 20px;
}

.logo {
    background-image: url("../public/logo.svg");
    min-height: 140px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 120px;
}

.pageIndex {
    background-color: #0d304f;
}

.textLeft {
    align-self: flex-start;
}

.gmail {
    background-image: url("../public/google-icon.svg");
    min-height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 0 0 20px;
}

/* buttons */

.gmailButton {
    background-image: url("../public/gmail-button.svg");
    min-height: 70px;
    width: 326px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 20px 0 0 20px;
    padding-right: 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.signupButton {
    background-image: url("../public/signup-button.svg");
    min-height: 70px;
    width: 326px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 20px 0 0 20px;
    padding-right: 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: white;
}

.darkButton {
    cursor: pointer;
    text-align: center;
    vertical-align:middle;
    font-family: Roboto, Regular;
    font-size: 19pt;
    background-color: #0D304F;
    border-radius: 8px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    color: white; 
    
    min-height: 70px;
    width: 50%;
    margin: 24px 0 0 24px;
}

/* text */

.chooseText{
    font-size: 24pt;
}

.greenTextSpan{
    background-color: #B3DD47;
}

/* forms */


.myInput{
    width: 100%;
    background-color: #F0F3F4;
    border: none;
}

.myRangeInput{
    background-color: #B3DD47;
}

.alignSpaceBetween{
    width: 100%;
    display: flex;
    justify-content: space-between;
}