.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex: 1;
    padding: 1.5rem 2rem;
    flex-direction: column;
    align-items: center;
    justify-items: stretch;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    flex: 0;
    padding: 0.6rem 0;
    border-top: 1px solid #f0f3f4;
    background-color: #bbdb6a;
}

.header {
    flex: 0;
    background-image: url("../public/header-arc.svg");
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.headerDefault {
    flex: 0;
    background-image: url("../public/header-arc-dark.svg");
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.pickmeup {
    background-image: url("../public/pickmeup.svg");
    min-height: 70px;
    width: 226px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin: 20px 0 0 20px;
}

.logo {
    background-image: url("../public/logo.svg");
    min-height: 140px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 120px;
}

.pageIndex {
    background-color: #0d304f;
}
